<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Article Pub</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet" />
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('index')}}">Blog</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li {% if url_for(request.endpoint) == "/" %} class="active" {% endif %}>
            <a href="{{url_for('index')}}">Home</a></li>
          <li {% if url_for(request.endpoint) == "/signup" %} class="active" {% endif %}>
            <a href="{{url_for('signup')}}">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h1></h1>
  {% block content %} {% endblock content %}
</body>

</html>